/*--------------- RESET ---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

/*--------------- HEADER ---------------*/
header {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: black;
    color: yellow;
}

header h2 {
    font-size: 3.5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

/*--------------- MENU BUTTON / FORM BUTTON ---------------*/
.menu .btn,
.formulario form .btn-cadastrar {
    background-color: black;
    color: yellow;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

.menu .btn:hover,
.formulario form .btn-cadastrar:hover {
    background-color: yellow;
    color: black;
    scale: 1.03;
}

/*--------------- CONTEUDO TABLE ---------------*/
thead tr {
    background-color: black;
    color: yellow;
    letter-spacing: 0.3rem;
}

/*--------------- CONTEUDO TABLE ICON ---------------*/
.table .fa-trash {
    color: rgb(192, 0, 0);
    transition: 0.2s;
    cursor: pointer;
}

.table .fa-square-check {
    color: green;
    transition: 0.2s;
    cursor: pointer;
}

.table .fa-solid:hover {
    scale: 1.1;
}

.table .fa-trash:hover {
    color: red;
}

.table .fa-square-check:hover {
    color: rgb(0, 184, 0);
}
